:root {
    --white: #ECECF1;
    --gray: ;
    --red: #D62C0D;
    --blue: #6D7096;
  }
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica;
  }
  
  .header {
    width: 100%;
    height: 70px;
    background-color: #D8523A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    padding-left: 0.4rem;
    z-index: 1;
  
  }
  
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: white;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: white;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  
  #About{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3B3636;
    font-family: sans-serif;
  }
  
  #About>h1 {
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 0;
  }
  
  #About>p {
    color: #D62C0D;
    font-size: 1.5rem;
    padding-top: 0;
  }
  
  #Work {
    width: 100%;
    position: fixed;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
  
  }
  
  #Work>h1 {
    color: var(--white);
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
    border-bottom: 3px solid white;
    margin-bottom: 50px;
  }
  
  .project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 1000px;
    grid-gap: 1rem;
    max-height: 1000px;
  }
  
  .project-tile>a {
    text-decoration: none;
    background-color: #3F4262;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    margin-bottom: 40px;
    padding: -50px;
  
  }
  
  a>p {
    padding: 30px;
    position: relative;
    top: 15px;
  }
  
  a>p:hover {
    background-color: var(--white);
    color: gray;
  }
  
  .project-img {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .show-all {
    background-color: #3F4262;
    margin: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--white);
    text-decoration: none;
    width: 113px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #Contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color: #56565A;
    color: var(--white);
    
  
  
  }
  
  #Contact>h1 {
    padding-top: 50px;
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 5px;
  }
  
  #Contact>p {
    padding-top: 5px;
    color: var(--white);
    font-size: 1.7rem;
    text-align: center;
    font-weight: normal;
  }
  
  .social-icons {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 2.2rem;
  }
  
  .social-icons>a {
    text-decoration: none;
    color: var(--white)
  }
  
  .disclaimer {
    width: 100%;
    text-align: left;
    border-top: 1.7px solid var(--red);
  }
  
  .disclaimer>p {
    font-size: 0.8rem;
    font-weight: light;
  }
  
  